.inline-block{
    display: inline-block;
    vertical-align: text-top;
}
.logo{
    width: 23%;
    padding: 1%;
    height: auto;
    text-align: center;
}
nav{
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
   
}
.heroImg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}
footer{
    background-color: #373738;   
}

footer li{
    display: inline-block;
    vertical-align: top;
    padding: 25px; 

}

footer ul{
    margin-left: auto;
    margin-right: auto;
}